<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Profile</title>
</head>

<body>
    <h1>{{Name}}</h1>
    <div><a href="/search" target="_blank">Search</a></div>
    <div><a href="/logout">logout</a></div>
    <div><a href="/download">download</a></div>
    <div><a href="/update" target="_blank">update</a></div>
    <div><a href="/session_data">Session Data</a></div>
</body>

</html>